@model RoomsReservationMVC.ViewModel.RentVM

@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>Cher utilisateur, bienvenue sur la plateforme permettant d'insérer les réservations de l'hôtel Clivaz.</p>